[ldap]
Description = MySQL Connector for LDAP
Driver = myodbc8w
Database = {{getv "/db/name"}}
Server = {{getv "/db/hostname"}}
User = {{getv "/db/user"}}
Password = {{getv "/db/password"}}
Port = {{getv "/db/port"}}
